<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BridgeOpsClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BridgeOpsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BridgeOpsClient.Settings>
            <setting name="ConfWinSizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ConfWinSizeY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RecWinSizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RecWinSizeY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TaskWinSizeX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TaskWinSizeY" serializeAs="String">
                <value>-1</value>
            </setting>
        </BridgeOpsClient.Settings>
        <BridgeOpsClient.Properties.Settings>
            <setting name="ConfWinSizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfWinSizeY" serializeAs="String">
                <value>0</value>
            </setting>
        </BridgeOpsClient.Properties.Settings>
    </userSettings>
</configuration>